#navbar ul.navbar-nav > li:hover .dropdown-menu ul.dropdown-sub-menu li,
#navbar ul.navbar-nav > li.open .dropdown-menu ul.dropdown-sub-menu li {
  list-style: none;
}

@media (min-width:768px) {
  #navbar {
    margin-bottom: 0px;
    border-radius: 0px;
  }
  
  .navbar-nav {
    float: right;
    position: relative;
  }

  #navbar ul.navbar-nav > li {
    position: initial;
  }

  #navbar ul.navbar-nav > li.open,
  #navbar ul.navbar-nav > li:hover {
    border: 1px solid #ee1f25;
    border-bottom: none;
    background-color: #f8f8f8;
  }

  #navbar ul.navbar-nav > li:hover > a:hover {
    color: #555;
  }

  #navbar ul.navbar-nav > li > a {
    background-color: #f8f8f8;
    position: relative;
    z-index: 1500;
  }

  #navbar ul.navbar-nav > li:hover .dropdown-menu,
  #navbar ul.navbar-nav > li.open .dropdown-menu {
    display: block;
    left: 0;
    right: 0;
    top: 96%;
    overflow: hidden;
    border: 1px solid #ee1f25;
    border-top-width: 2px;
    z-index: 1000;
  }

  #navbar ul.navbar-nav > li:hover .dropdown-menu > li,
  #navbar ul.navbar-nav > li.open .dropdown-menu > li {
    display: inline-block;
  }
  
  #navbar ul.navbar-nav > li:hover .dropdown-menu ul.dropdown-sub-menu,
  #navbar ul.navbar-nav > li.open .dropdown-menu ul.dropdown-sub-menu {
    padding-right: 2px;
    padding-right: 20px;
  }

  #navbar ul.navbar-nav > li:hover .dropdown-menu ul.dropdown-sub-menu li a,
  #navbar ul.navbar-nav > li.open .dropdown-menu ul.dropdown-sub-menu li a {
    display: block;
    padding: 3px 10px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    white-space: nowrap;
  }

  #navbar ul.navbar-nav > li:hover .dropdown-menu ul.dropdown-sub-menu li a:hover,
  #navbar ul.navbar-nav > li.open .dropdown-menu ul.dropdown-sub-menu li a:hover {
    text-decoration: none;
    background-color: #f5f5f5;
  }

  .dropdown-menu > li > a {
    padding: 5px 20px;
  }
  
  #navbar .navbar-nav li.dropdown ul.dropdown-menu {
    background-repeat: no-repeat;
    min-height: 300px;
  }
  #navbar .navbar-nav li.dropdown:nth-child(1) ul.dropdown-menu {
    background-image: url('../img/menu/pezeshki_va_parastari.png');
  }
  #navbar .navbar-nav li.dropdown:nth-child(2) ul.dropdown-menu {
    background-image: url('../img/menu/bimariha.png');
  }
  #navbar .navbar-nav li.dropdown:nth-child(3) ul.dropdown-menu {
    background-image: url('../img/menu/music.png');
  }
  #navbar .navbar-nav li.dropdown:nth-child(4) ul.dropdown-menu {
    background-image: url('../img/menu/computer_mobile.png');
  }
  #navbar .navbar-nav li.dropdown:nth-child(5) ul.dropdown-menu {
    background-image: url('../img/menu/dar_khane.png');
  }
  #navbar .navbar-nav li.dropdown:nth-child(6) ul.dropdown-menu {
    background-image: url('../img/menu/zaban.png');
  }
  #navbar .navbar-nav li.dropdown:nth-child(7) ul.dropdown-menu {
    background-image: url('../img/menu/kasb_o_kar.png');
  }
  #navbar .navbar-nav li.dropdown:nth-child(8) ul.dropdown-menu {
    background-image: url('../img/menu/madrese.png');
  }
  #navbar .navbar-nav li.dropdown:nth-child(9) ul.dropdown-menu {
    background-image: url('../img/menu/kheyrieha.png');
  }
}