/**
 * This file will be overwritten when the Bootstrap Framework source files
 * are compiled using the Less CSS pre-processor.
 */
@font-face {
  font-family: 'BYekan';
  src: url('../fonts/BYekan.eot');
  src: url('../fonts/BYekan.eot?#iefix') format('embedded-opentype'), url('../fonts/BYekan.woff') format('woff'), url('../fonts/BYekan.ttf') format('truetype'), url('../fonts/BYekan.svg#BYekan') format('svg');
}

body {
  font-family: "BYekan","Helvetica Neue",Helvetica,Arial,sans-serif;
  background-color: whitesmoke;
}

a:hover {
  text-decoration: none;
}

.breadcrumb {
  margin: 10px 0px;
  background-color: #f8f8f8;
  border: 1px solid #e7e7e7;
}

.breadcrumb > li + li::before {
    padding: 0 5px;
    color: #ccc;
    content: ">";
}

.header-right,
.header-left {
  display: inline-block;
}

.header-left {
  float: left;
}

.header-left section.block {
  display: inline-block;
  float: left;
  margin: 25px 0px;
}

.header-left section.block .clearfix {
  margin: 2px 0;
}

.header-left section.block a.btn {
  display: inline-block;
  padding: 8px;
  background-color: #1fa792;
  border-radius: 5px;
  color: #fff;
  font-size: 9pt;
}

.header-left section.block a.login-link {
  border-radius: 0px 20px 0px 0px;
  width: 70px;
}

.header-left section.block a.cart-link {
  border-radius: 0;
  background-color: #ee1f25;
  margin: 0 3px;
  width: 130px;
}


.header-left section.block a.register-link {
  border-radius: 20px 0px 0px 0px;
  width: 70px;
}

.header-left section.block a.blog-link {
  border-radius: 0px 0px 20px 0px;
  width: 70px;
}

.header-left section.block a.collaborate-us-link {
  border-radius: 0;
  background-color: #ee1f25;
  margin: 0 3px;
  width: 130px;
}

.header-left section.block a.contact-us-link {
  border-radius: 0px 0px 0px 20px;
  width: 70px;
}

.header-right .logo {
  display: flex;
}

.header-right .logo:hover {
  text-decoration: none;
}

.logo-image {
  margin: 5px auto;
  margin-right: auto;
  height: auto;
  width: 200px;
  overflow: hidden;
  margin-right: 10px;
}

.logo-image img {
  width: 100%;
}

.logo-text {
  margin-top: 0px;
}

.logo-text .site-name {
  color: #1fa792;
  font-size: 31px;
  font-weight: bold;
  margin-bottom: 0px;
}

.logo-text .lead {
  font-size: 13px;
  margin-bottom: 5px;
  color: #2ac8af;
}

.middel-first,
.middel-second,
.middel-third {
  background-color: #f5f5f5; 
}

.footer {
  color: #fff;
  margin-top: 90px;
  padding: 20px 0 20px 0;
  background-color: #f5f5f5;
  background: url("../img/footer-bg.svg") no-repeat center center;
  background-size: auto auto;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.footer .footer-logo {
  width: 150px;
  height: 150px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  -ms-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  position: relative;
  bottom: 95px;
  background: #fff;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.footer .footer-col {
  margin: -80px auto auto;
}

.footer h2.block-title {
  color: #fff;
  font-size: 25px;
}

.footer a {
  color: #fff;
}

.footer ul.menu li.leaf a {
  color: #fff;
}

.footer ul.menu.nav li.leaf a:hover {
  background-color: transparent;
  color: #ee1f25;
}

.footer .licence-text p {
  display: inline-block;
  margin-right: auto;
  margin-left: auto;
  border: 1px solid #ee1f25;
  padding: 5px;
  border-radius: 5px;
}

.footer .licence-text a {
  text-decoration: underline;
}

#user-login .login-forgot {
  margin: 10px 0px;
}

#user-login .login-forgot a {
  margin: 10px 0px;
  color: #1fa792;
  text-decoration: none;
}

#user-login .btn,
#user-login .btn:hover,
#register-form .btn,
#register-form .btn:hover {
  background-color: #1fa792;
  border-color: #1fa792;
}

.btn-success,
.btn-success.focus, .btn-success:focus,
.btn-success.hover, .btn-success:hover {
  background-color: #1fa792;
}