.row.search-panel {
  background-image: url('../img/search_block_background.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  min-height: 400px;
  text-align: center;
}

.search-panel div.row > div {
  float: left;
}

.product-search-suggestion-form {
  margin-top: 20px;
}

.search-panel .search-title {
  font-size: 50pt;
  color: #090154;
  text-shadow: 2px 2px 1px #fff;
  margin-top: 20px;
}

.search-panel .search-sub-title {
  font-size: 26pt;
  color: #090154;
  text-shadow: 2px 2px 1px #fff;
  margin-bottom: 30px;
  font-weight: bold;
}

.search-panel form .btn,
.search-panel form .form-item {
  display: inline-block;
}

.product-search-suggestion-form .form-item-suggestion input,
.product-search-form .form-item-search-box input {
  border: none;
  padding: 25px 70px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

.product-search-suggestion-form .form-item-suggestion input {
  padding: 25px 100px;
}
  
@media(min-width:768px) {
  .product-search-suggestion-form .form-item-suggestion input {
    padding: 25px 160px;
  }  
}

@media (min-width:992px) {
  .product-search-suggestion-form .form-item-suggestion input {
    padding: 25px 160px;
  }  
}

@media (min-width:1200px) {
  .product-search-suggestion-form .form-item-suggestion input {
    padding: 25px;
    width: 476px;
  }
}

.product-search-suggestion-form .form-submit,
.product-search-form .form-submit {
  border: none;
  color: #fff;
  font-size: 20px;
  padding: 11px 17px;
  background-color: #1fa792;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  margin-bottom: 6px;
}

@media (min-width:768px) {
  .product-search-suggestion-form .form-submit,
  .product-search-form .form-submit {
    margin-bottom: 0px;
  }
}

.product-search-suggestion-form .form-submit:hover,
.product-search-form .form-submit:hover {
  background-color: #1fa792;
  color: #fff;
}

.product-search-form #edit-submit-advanced-search {
  border-radius: 4px;
  margin-right: 5px;
  background-color: #ee1f25;
}

.product-search-form .form-item-search-box {
  position: relative;
}

.product-search-form #product-autocomplete-list {
  position: absolute;
  right: 0;
  left: 0;
  border-top-right-radius: 0px;
  border-top-left-radius: 0;
}

.product-search-form .form-item-search-box ul.list-group {
  text-align: right;
}