
div.toboggan-container {
  text-align: center;
}

div.toboggan-login-link-container {
  text-align: left;
}

div.toboggan-login-link-container a {
  text-decoration: none;
}

div.toboggan-block-message {
  text-align: left;
}

div.user-login-block {
  text-align: left;
}

div.user-login-block a {
  text-align: left;
}

/* Unified login */

.toboggan-unified #login-message {
  text-align: center;
  font-size: 2em;
  line-height: 1.2;
}

.toboggan-unified #login-links {
  text-align: center;
  font-size: 1em;
  line-height: 2.7;
}

.toboggan-unified #login-links a {
  color: #1fa792;
  text-decoration: none;
}

.toboggan-unified.login #register-form {
  display: none;
}

.toboggan-unified.register #login-form {
  display: none;
}

