.product-page-wrapper.col-sm-12 {
  background-color: #f5f5f5;
  border-radius: 4px;
  padding: 0;
}

.product-page-wrapper .product-item a.product-title {
  border: none;
  padding: 0;
}

.product-page-wrapper .product-title {
  font-size: 30px;
  font-weight: 600;
  margin: 10px 0 15px 0px;
  background-color: #fff;
  padding: 5px 5px 7px;
  border-radius: 10px;
  border: 1px solid #ddd;
  color: #1fa792;
}

.product-page-wrapper .product-page-info {
  padding: 0;
}

.product-page-wrapper .left-coll {
  padding-left: 0;
}

.product-page-wrapper .info-box {
  background: #fff;
  padding: 15px;
  border-top-right-radius: 10px;
  -webkit-box-shadow: 0 1px 2px 0 rgba(25, 25, 25, 0.2);
  box-shadow: 0 1px 2px 0 rgba(25, 25, 25, 0.2);
}

.product-page-wrapper .share-box {
  background: #fff;
  padding: 15px;
  border-bottom-right-radius: 10px;
  -webkit-box-shadow: 0 1px 2px 0 rgba(25, 25, 25, 0.2);
  box-shadow: 0 1px 2px 0 rgba(25, 25, 25, 0.2);
  margin-top: 10px;
}

.product-page-wrapper .share-box .share-links {
  text-align: center;
}

.product-page-wrapper .share-box .share-links a {
  padding: 0px 3%;
}

.product-page-wrapper .info-box .field-name-field-rate {
  text-align: center;
  margin-bottom: 5px;
  border-bottom: 1px solid #e3e3e3;
  padding: 0px 0px 5px;
}

.product-page-wrapper .info-box .fivestar-widget-static,
.product-page-wrapper .info-box div.fivestar-widget {
  display: inline-block;
}

.product-page-wrapper .info-box .fivestar-widget-field {
  display: inline-block;
  margin: 5px 2px 5px 0px;
}

.product-page-wrapper .info-box .fivestar-oxygen div.fivestar-widget-static .star span.on {
  background-position: right -20px;
}
.product-page-wrapper .info-box .fivestar-oxygen div.fivestar-widget div.on a {
  background-position: right -20px;
}
.product-page-wrapper .info-box .fivestar-oxygen div.fivestar-widget div.hover a,
.product-page-wrapper .info-box .fivestar-oxygen div.rating div a:hover {
  background-position: right -39px;
}
.product-page-wrapper .info-box div.fivestar-widget .star,
.product-page-wrapper .info-box div.fivestar-widget-static .star {
  width: 21px;
  height: 19px;
}

.product-page-wrapper .info-box .element-box {
  text-align: center;
}

.product-page-wrapper .info-box .element-box .info-item {
  display: inline-block;
  width: 26%;
  height: 90px;
  margin: 10px;
  color: #1fa792;
  text-decoration: none !important;
  overflow: hidden;
  position: relative;
  background-size: 40%;
  background-repeat: no-repeat;
  background-position: center top;
}
.product-page-wrapper .info-box .element-box .info-item .field {
  position: absolute;
  top: 45px;
  left: 0;
  right: 0;
}

.product-page-wrapper .info-box .element-box .info-item.price .orginal-amount {
  text-decoration: line-through;
  color: #ee1f25;
  font-size: 18px;
  position: absolute;
  top: 40px;
  left: 0;
  right: 0;
}

.product-page-wrapper .info-box .element-box .info-item.price .amount {
  color: #1fa792;
  font-size: 18px;
  position: absolute;
  top: 55px;
  left: 0;
  right: 0;
}

.product-page-wrapper .info-box .element-box .info-item.creator {
  
}

.product-page-wrapper .info-box .percentage-discount {
  position: absolute;
  left: 0px;
  top: -10px;
  background-image: url('../img/new.png');
  background-size: 100% 100%;
  width: 50px;
  height: 50px;
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  padding-top: 5px;
  color: #fff;
}

.product-page-wrapper .info-box .element-box .info-item.creator .creator-image img {
  height: 35px;
  width: 35px;
  border-radius: 50px;
  display: inline-block;
}

.product-page-wrapper .info-box .element-box .info-item.creator .creator-name {
  color: #1fa792;
  position: absolute;
  top: 45px;
  left: 0;
  right: 0;
}

.product-page-wrapper .info-box .element-box .info-item.category {
  background-image: url('../img/list.png');
}

.product-page-wrapper .info-box .element-box .info-item.price {
  background-image: url('../img/wallet.png');
  overflow: unset;
}

.product-page-wrapper .info-box .element-box .info-item.period {
  background-image: url('../img/clock.png');
}

.product-page-wrapper .info-box .element-box .info-item.ages {
  background-image: url('../img/classroom.png');
}

.product-page-wrapper .info-box .element-box .info-item.language {
  background-image: url('../img/translator.png');
}

.product-page-wrapper .info-box .element-box .info-item.add-to-cart {
  width: 100%;
  margin: 0;
}

.product-page-wrapper .info-box .element-box .info-item.add-to-cart .btn {
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  display: block;
}

.product-page-wrapper .product-page-player-holder {
  background: #fff;
  box-shadow: 0 1px 2px 0 rgba(25, 25, 25, 0.2);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  overflow: hidden;
}

.product-page-wrapper .product-page-player-holder img {
  width: 100%;
  height: 513px;
  object-fit: cover;
  object-position: 50% 50%;
}

.product-page-wrapper .product-page-player-holder video {
  width: 100%;
  max-height: 400px;
}

.product-page-wrapper .report-problem {
  margin-top: 20px;
  padding: 0;
}

.product-page-wrapper .product-page-description {
  padding: 0;
}

.product-page-wrapper .product-page-description .tab-content {
  padding: 5px 15px;
  background-color: #fff;
  -webkit-box-shadow: 0 1px 2px 0 rgba(25, 25, 25, 0.2);
  box-shadow: 0 1px 2px 0 rgba(25, 25, 25, 0.2);
  border-radius: 4px;
}
.product-page-wrapper .product-page-tags {
  text-align: center;
}

.product-page-wrapper .title-label {
  text-align: center;
  background-image: url('../img/line.png');
  background-repeat: no-repeat;
  background-position: center 42%;
}

.product-page-wrapper .title-label h3 {
  display: inline-block;
  background-color: #f5f5f5;
  margin: 20px auto;
  color: #1fa792;
  padding: 2px 5px;
}

.product-page-wrapper .product-page-tags .field-name-field-tags .field-items .field-item {
  display: inline-block;
  padding: 5px;
  font-weight: 700;
  margin: 5px 3px;
  background-color: #1fa792;
  border-radius: .25em;
}

.product-page-wrapper .product-page-tags .field-name-field-tags a {
  text-decoration: none;
  color: #fff;
}

.product-page-wrapper .product-page-description .comments-wrapper {
  border-bottom: 1px solid #ccc;
  margin-bottom: 20px;
  padding-bottom: 20px;
}

.product-page-wrapper .product-page-description .comment {
  border: 2px double #888;
  border-radius: 4px;
  padding: 5px;
  margin: 10px 0px;
}

.product-page-wrapper .product-page-description .comment h4 {
  margin: 0px 0px 3px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 5px;
}

.product-page-wrapper .product-page-description .comment p {
  margin: 0;
}

.product-related .swiper-button-next,
.product-related .swiper-button-prev {
  width: 15px;
  height: 30px;
  background-size: contain;
}

.swiper-button-next,
.swiper-container-rtl .swiper-button-prev {
  right: 0px;
}

.swiper-button-prev,
.swiper-container-rtl .swiper-button-next {
  left: 0px;
}