.middel-first .block-title,
.middel-second .block-title,
.middel-third .block-title {
  text-align: center;
  color: #1fa792;
  background: url('../img/block_title_back.png') no-repeat;
  background-position-y: 30px;
  background-position-x: center;
  padding-bottom: 25px;
}

.middel-first .product-row,
.middel-second .product-row,
.middel-third .product-row {
  float: none;
  margin: 0px auto;
}

.product-item {
  background-color: #ffffff;
  border-radius: 5px;
  margin: 0 10px;
  margin-bottom: 10px;
  overflow: hidden;
  border: 1px solid #eee;
  box-shadow: 0 0 2px #ddd;
  -webkit-transition: all .2s ease-in-out 0s;
  -moz-transition: all .2s ease-in-out 0s;
  -o-transition: all .2s ease-in-out 0s;
  -ms-transition: all .2s ease-in-out 0s;
  transition: all .2s ease-in-out 0s;
}

.product-item:hover {
  border-color: #1fa792;
  box-shadow: 0 0 2px transparent;
}

.product-item .product-thumbnail img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  object-position: 50% 50%;
}

.product-info {
  padding: 3px 5px;
}

.product-item a.product-title {
  margin: 5px 0 20px;
  overflow: hidden;
  width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: 500;
  color: #3f4958;
  display: block;
  font-size: 16px;
  text-align: justify;
}

@media(max-width:768px) {
  .product-item a.product-title {
    white-space: unset;
  }  
}

.product-item a:hover {
  text-decoration: none;
}

.user-profile {
  display: block;
  border-bottom: 1px solid #ddd;
  margin: 5px 0px;
}

.user-profile a img {
  height: 30px;
  width: 30px;
  border-radius: 50px;
  display: inline-block;
}

.user-profile a p {
  color: #838383;
  display: inline-block;
}

.product-item .product-info .fivestar-widget-field {
  display: inline-block;
  margin: 5px 2px 5px 0px;
}

.product-item .fivestar-oxygen div.fivestar-widget-static .star span.on {
  background-position: right -20px;
}
.product-item .fivestar-oxygen div.fivestar-widget div.on a {
  background-position: right -20px;
}
.product-item .fivestar-oxygen div.fivestar-widget div.hover a,
.product-item .fivestar-oxygen div.rating div a:hover {
  background-position: right -39px;
}
.product-item div.fivestar-widget .star,
.product-item div.fivestar-widget-static .star {
  width: 21px;
  height: 19px;
}

.product-item .product-info span.product-price {
  position: relative;
  color: #fff;
  float: left;
  font-size: 16px;
  font-weight: 500;
  background: #1fa792;
  padding: 2px 7px;
  margin: 5px 0px;
  border-radius: 5px;
}

.product-item .product-info span.product-price .original {
  position: absolute;
  left: 0;
  top: -35px;
  background: #e31c1c;
  padding: 2px 7px;
  margin: 5px 0px;
  border-radius: 5px;
  text-decoration: line-through;
}

.product-item .product-info span.product-price .discount {
  position: absolute;
  left: 0;
  top: -290px;
  background-image: url('../img/new.png');
  background-size: 100% 100%;
  width: 35px;
  height: 35px;
  text-align: center;
  font-size: 17px;
  font-weight: bold;
  padding-top: 5px;
  color: #fff;
}

.product-item .product-info .product-period {
  float: right;
  display: inline-block;
  padding: 5px;
  padding-left: 20px;
  background-image: url('../img/clock_circular_outline.png');
  background-repeat: no-repeat;
  background-position: center left;
  margin-left: 5px;
}

.view-latest-products .clearfix a {
    margin: 10px;
    display: inline-block;
    float: left;
}
  
@media (min-width:768px) {
  .view-latest-products .clearfix a {
    margin-left: 71px;
  }
}