article.node header h2 {
  margin: 1px 0px;
  padding: 5px 5px;
  border-bottom: 2px groove #1fa792;
  line-height: 45px;
}

article.node header h2 a {
  text-decoration: none;
  color: #1fa792;
  margin-bottom: 10px;
}

article.node header h2 a:hover {
  text-decoration: none;
}

article.node .field-name-field-image img {
  width: 100%;
  height: 300px;
  margin-bottom: 10px;
  object-fit: cover;
  object-position: 50% 50%;
}

article.node .field-name-body {
  padding: 10px 15px;
}

article.node footer {
  border-top: 2px groove #1fa792;
  margin: 20px auto;
  padding: 10px 15px;
}

.node-item {
  background-color: #ffffff;
  border-radius: 5px;
  margin-bottom: 10px;
  overflow: hidden;
  border: 1px solid #eee;
  box-shadow: 0 0 2px #ddd;
  -webkit-transition: all .2s ease-in-out 0s;
  -moz-transition: all .2s ease-in-out 0s;
  -o-transition: all .2s ease-in-out 0s;
  -ms-transition: all .2s ease-in-out 0s;
  transition: all .2s ease-in-out 0s;
}

.node-item img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  object-position: 50% 50%;
  border-bottom: 2px solid #1fa792;
}

.node-item .views-field-title a {
    margin: 5px 0;
    overflow: hidden;
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: 500;
    color: #1fa792;
    display: block;
    font-size: 16px;
    text-align: justify;
    padding: 5px 10px;
}