.contact-us-page .phone-item {
  direction: ltr;
  text-align: right;
  margin-right: 92px;
}

.contact-us-page .phone-main-item {
  display: inline-block;
  margin-right: 5px;
}

.contact-us-page .phone-main-item p {
  display: inline-block;
}

.contact-us-page .phone-main-item p:nth-child(2) {
  direction: ltr;
  text-align: right;
}

.contact-us-page .image-item {
  border: 1px solid #000;
  display: inline-block;
  padding: 1px;
}

.contact-us-page .image-item.avale-form {
  display: block;
  float: right;
}

.contact-us-page .image-item + p {
  display: inline-block;
  margin-right: 5px;
}

.contact-us-page .sosial-icons {
  display: inline-block;
  border: 1px solid #ee1f24;
  padding: 3px;
  margin: 5px;
  border-radius: 10px;
}

.contact-us-page .sosial-item {
  display: inline-block;
  margin: 0 5px;
}

#contact-us-form .form-control,
#contact-us-form .form-textarea-wrapper {
  display: inline-block;
  width: auto;
}

#contact-us-form .form-item-message .control-label {
  display: block;
}

#contact-us-form .address-field {
  margin-right: 55px;
}

@media (min-width:768px) {
  #contact-us-form .form-textarea-wrapper {
    margin-right: 21%;
  }

  #contact-us-form #edit-email {
    margin-right: 6%;
  }

  #contact-us-form #edit-phone {
    margin-right: 9%;
  }

  #contact-us-form #edit-subject {
    margin-right: 11%;
  }
}

@media (min-width:992px) {
  #contact-us-form .form-textarea-wrapper {
    margin-right: 27%;
  }

  #contact-us-form #edit-email {
    margin-right: 7%;
  }

  #contact-us-form #edit-phone {
    margin-right: 11%;
  }

  #contact-us-form #edit-subject {
    margin-right: 14%;
  }
}