#newsletter-form .form-group {
  margin-left: 5px;
}

#newsletter-form .btn {
  background-color: #ee1f25;
  color: #fff;
}

#newsletter-form .btn:hover {
  background-color: #ee1f25;
  color: #fff;
}

.trusted_block img {
  cursor:pointer;
}