#block-views-exp-product-catalog-page .views-exposed-form .views-exposed-widget {
  display: inline-block;
  margin: 5px;
  padding: .5em 0em 0 0;
}

#block-views-exp-product-catalog-page .views-exposed-widgets {
  margin-bottom: 1em;
}

#views-exposed-form-product-catalog-page .form-control {
  padding: 0px 12px;
}

.product-catalog-list.view-product-catalog {
  margin-left: auto;
  margin-right: auto;
  display: block;
  float: none;
}